/*import font from google font*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:ital@1&family=Roboto:ital,wght@0,100;1,100&family=Sofadi+One&display=swap') ;

:root{
	--primary-color:#45ccb8;
	--ligt-gray:#2b3032a1;
	--border:#2b3032a1;
	--text-color:#ff686b;
	--roboto:"Roboto",sans-serif;
	--gugi:"Gugi",cursive;
	--sofia:"Sofia";

}
.primary-color{
	color: var(--primary-color);
}
.bg-primary-color{
	background-color:var(--primary-color)!important;

}
.text-color{
	color:var(--text-color);
}
.font-roboto{
	font-family: var(--roboto);
}
.lightblue{
	color: lightblue;
}
/*header*/
header{
	background-color:var(--primary-color);
	font-family:var(--roboto);
}
header .site-title{
	font-family:var(--sofia);
}

}
.container.dropdown-toggle, .container .dropdown-item{
	font-size:0.7em;
}
.header-links a{
	font-size: 0.9em;
	text-decoration: none;
	color: white;
	font-family: var(--sofia);
}
/* Navigation Menu*/
.slide{
	background-image: url('./img/slider2.jpg');
	height: 100%;
	width: 100%;
	background-size: cover;
    position: relative;
 
}
.slide h2{
	text-decoration-style: bold;
	font-style: bold;
	font-weight: bolder;
	color: white;
	mix-blend-mode: screen;
	text-align: center;
	font-family: 'Markazi Text', serif;
	padding-top: 5%
}
h3{
	
  color: gray;
  text-align: center;
  max-width: 600px;
  position: relative;
    font-family: 'Kalam', cursive;
    margin: auto;
   
}
h3:before {
  content: "";
  display: block;
  width: 220px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  top:50%;
}
h3:after {
  content: "";
  display: block;
  width: 220px;
  height: 2px;
  background: #000;
  position: absolute;
  right: 0;
  top:50%;
}
/*nav-bar*/
.nav-bar{
	float: right;
	width: 75%;
	
}
.nav-bar ul li{
	display: inline-block;
	list-style: none;
	margin-left: 60px;
	font-family: 'Damion', cursive;
}